<app-navbar></app-navbar>
<div class="container">
  <div class="col-sm-3 s2">
    <form (ngSubmit)="onSubmit()">
    <p>Select the currency you want to check the price</p>
      <select  class="form-select" [(ngModel)]="selectedCrypto" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let coin of dashboard.coinNames1" [value]=coin (resize)="5">
          {{coin.toUpperCase()}}
        </option>
      </select>
  <input type="submit" class="btn btn-primary" value="check price">
    </form>
  </div>
  <mat-card id="ind2">
    <mat-card-header>
      <mat-card-title>
        {{displayedRN}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{selectedCryptoPrice}}($)
    </mat-card-content>
    <mat-card-footer>
      <p>As of:</p>
      <p>{{date | date: ' HH:mm:ss dd-MM-yyyy'}} </p>
    </mat-card-footer>
  </mat-card>
</div>
