<div class="container">
  <div class="row charts">
    <div class="col-sm-4 chart1">wykres</div>
    <div class="col-sm-4 chart1">1234</div>
    <div class="col-sm-4 chart1">12421</div>
  </div>
  <div class="row">
    <div class="info">
      <div class="col-sm-3 totalValue">CurrenttotalValue($)</div>
      <div class="col-sm-3 firstTrade">firstTrade Date</div>
      <div class="col-sm-3 totalInvestments">totalInvestments($)</div>
      <div class="col-sm-3 tradeQuantity">ilosc tradeow</div>
    </div>
  </div>
    <div class="row">
      <p class="text-center">Import your trade below:</p>
      <div class=" trade col">
        <input type="text" class="inp CName" placeholder="coin name" [(ngModel)]="CnameI" required>
        <input type="number" class="inp Quant" placeholder="quantity" [(ngModel)]="CQuantI" required>
        <input type="number" class="inp Price" placeholder="price" [(ngModel)]="CPriceI" required>
        <input type="date" class="inp Date" placeholder="date" [(ngModel)]="CDateI">
        <button class=" col-sm-2 btn btn-primary" mat-mini-fab (click)="addTrade()">add</button>
      </div>
    </div>
</div>

<div class="container invList">
  <p class="title1">List of trades</p>
  <div class="descriptionList">
    <p> index</p>
    <p> asset name</p>
    <p> value ($)</p>
    <p> price ($)</p>
    <p> quantity</p>
    <p> date of bought</p>
    <p> action</p>
  </div>
  <div class="trade col" *ngFor="let trade of trades; let i = index">
    <p>{{i+1}}</p>
    <p>{{trade.coinName.toUpperCase()}}</p>
    <p>{{trade.priceusd*trade.quantity}}</p>
    <p>{{trade.priceusd}}</p>
    <p>{{trade.quantity}}</p>
    <p>{{trade.date | date: 'dd-MM-yyyy'}}</p>
    <button mat-mini-fab>edit</button>
  </div>

</div>
