@import "src/app/dashboard/main/main.component";
.info{
  display: flex;
}
.col-sm-3{
  border: 2px solid turquoise;
  text-align: center;
}

.text-center{
  font-size: $font-size-title;
}
.button-group > button{
  margin: 5px;
}
.desc2{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid orange;
}
.desc2 > p{
  width: clamp(50px,100px,100px);
  border: 1px solid saddlebrown;
  margin: 10px 20px;
  text-align: center;
}
.move-right{
  position: relative;
  left: 12px;
}
input{
  border-radius: 25px;
  width: clamp(150px,250px,300px);
}
.btn:hover{
  background-color: green;
  color: white;
}
.form-col{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.input-list{
  border: 3px solid orange;
}
#buttonD{
  border: none;
}
