@import "src/app/dashboard/main/main.component";
.info{
  display: flex;
}
.col-sm-3{
  border: 2px solid turquoise;
  text-align: center;
}
.text-center{
  font-size: $font-size-title;
}
.button-group > button{
  margin: 5px;
}
.desc2{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 2px solid orange;
  border-radius: 20px;
}
.desc2 > .row{
  display: flex;
  justify-content: center;

}.desc2 > .row:first-child{
  margin-left: 10px;
  padding-left: 32px;
}
.desc2 .row{
  width: 100px;
  text-align: center;
}
input{
  border-radius: 25px;
  width: clamp(150px,250px,300px);
}
.btn:hover{
  background-color: green;
  color: white;
}
.form-col{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.input-list{
  border: 3px solid orange;
}
#buttonD{
  border: none;
}
