<app-navbar></app-navbar>
<div class="container main-container">
  <div class="row">
    <p class="text-center title1">Import your trade below:</p>
    <div class="row trade">
    <form [formGroup]="form1">
    <div class="row">
           <mat-form-field>
           <mat-label>Asset Name</mat-label>
           <mat-select formControlName="name">
             <mat-option *ngFor="let coin of coinNames1" [value]=coin (resize)="5">
               {{coin.toUpperCase()}}
             </mat-option>
           </mat-select>
           <mat-error *ngIf="form1.get('name')?.hasError('required')">Asset name is required</mat-error>
         </mat-form-field>

    </div>
      <div class="row">
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input type="number" matInput formControlName="amount">
            <mat-error *ngIf="form1.get('amount')?.errors?.['required']">Insert amount</mat-error>
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field>
            <mat-label>Invested money</mat-label>
            <input matInput type="number" formControlName="invested">
            <mat-error *ngIf="form1.get('invested')?.errors?.['required']">Insert invested money</mat-error>
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="CDateI">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="row btnA">
        <button class="btn" mat-raised-button (click)="addTrade()"><b>Enter Trade</b></button>
      </div>
    </form>
    </div>
</div>
<div class="container invList">
  <p class="title1">List of trades</p>
  <div class="desc2">
    <div class="row"> Index</div>
    <div class="row"> Asset name</div>
    <div class="row"> Value ($)</div>
    <div class="row"> Price ($)</div>
    <div class="row"> Amount</div>
    <div class="row"> Date of bought</div>
    <div class="row"> Action</div>
  </div>

  <ul class="trade col" *ngFor="let trade of tradeService.records$ | async; let i = index">
    <li>{{i+1}}</li>
    <li>{{trade.coinName}}</li>
    <li>{{(trade.priceusd*trade.quantity).toFixed(2)}}</li>
    <li>{{(trade.priceusd).toFixed(2)}}</li>
    <li>{{trade.quantity}}</li>
    <li>{{trade.date | date: 'dd-MM-yyyy'}}</li>
    <li id="buttonD">
    <button mat-mini-fab color="warn" (click)="goToDelete(trade)">
      	<mat-icon>remove_circle_outline</mat-icon>
    </button>
    </li>
  </ul>
</div>
</div>

