@import "src/app/dashboard/main/main.component";
.info{
  display: flex;
}
.col-sm-3{
  border: 2px solid turquoise;
  text-align: center;
  width: content-box;
}

.button-group > button{
  margin: 5px;
}
.desc2{
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  border: 1px solid orange;
}
.desc2 > p{
  width: clamp(50px,100px,100px);
  border: 1px solid saddlebrown;
  margin: 10px;
  text-align: center;
}
input{
  border-radius: 25px;
  width: 150px;
}


