@import "../variables";
.row{
  margin: 20px;
}
.col-sm-4{
  border: 2px solid red;
  justify-content: center;
}
.invList{
  margin-top: 20px;
}
.col-sm-12, .col{
  @extend .center;
  border: 2px solid red;
  padding: 10px;
  margin: 5px;
}
.container{
  border: 1px dotted red;
  margin-top: 20px;
}
.descriptionList{
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
  border: 1px solid orange;
}
.descriptionList > p {
  min-width: 50px;
  border: 1px solid saddlebrown;
}
.trade{
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
}
.trade >p{
  border: 1px solid green;
  min-width: 50px;
}
.title1{
  @extend .center;
  margin-top: 20px;
  font-weight: bold;
  font-size: $font-size-title;
}
