<p>dashboard works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm-4 totalValue">CurrenttotalValue</div>
    <div class="col-sm-4 firstTrade">firstTrade Date</div>
    <div class="col-sm-4 totalInvestments">totalInvestments</div>
  </div><div class="row">
    <div class="col-sm-4 profit">profit/loss %</div>
    <div class="col-sm-4 lastTrade">lastTrade Date</div>
    <div class="col-sm-4 ???">????</div>
  </div>

</div>
<div class="container invList">
    <div class="col-sm-12 totalValue">inv1</div>
    <div class="col-sm-12 firstTrade">inv2</div>
    <div class="col-sm-12 totalInvestments">inv3</div>

</div>
