.row{
  margin: 20px;
}
.col-sm-4{
  border: 2px solid red;
  justify-content: center;
}
.invList{
  margin-top: 20px;
}
.col-sm-12{
  border: 2px solid red;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}
