@import "bootstrap/scss/bootstrap";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackBar{
  background-color: #078706;
  --mdc-snackbar-container-color: #078706;
  --mdc-snackbar-supporting-text-color: #f3eff7;
  color: #f3eff7;
}
.failure-snackBar{
  background-color: #a50004;
  --mdc-snackbar-container-color: #a50004;
  --mdc-snackbar-supporting-text-color: #f3eff7;
  color: #f3eff7;
}
