@import "bootstrap/scss/bootstrap";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
