<p>analyse-panel works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm-4 chart1">wykres</div>
    <div class="col-sm-4 chart1">1234</div>
    <div class="col-sm-4 chart1">12421</div>
  </div>
  <div class="row">
    <div class="col-sm-3 totalValue">CurrenttotalValue($)</div>
    <div class="col-sm-3 firstTrade">firstTrade Date</div>
    <div class="col-sm-3 totalInvestments">totalInvestments($)</div>
    <div class="col-sm-3 tradeQuantity">ilosc tradeow</div>
  </div><div class="row">
    <button class=" col-sm-2 btn btn-primary">dodaj trade</button>
  </div>
</div>
