<app-navbar></app-navbar>
<div class="container main-container">
  <div class="row">
    <div class="col col-md-4 indicator">
      <span class="text-area">
        You made {{numberOfTrades}} trades
      </span>
    </div>
    <div class="col col-md-4 indicator">
      <span class="text-area">
        Invested money:   {{totalInv}}$
      </span>
    </div>
    <div class="col col-md-4">
      <span class="text-area">
        <p>First trade:</p>
         <p>{{maxDate | date: 'dd-MM-yyyy'}} ({{tradeService.calcTime(maxDate)}} days ago)</p>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-4 indicator" id="profit" [ngStyle]="{'color':(actual/totalInv)>1 ? 'green' : 'red' }">
      <span class="text-area">
      {{((this.actual/totalInv)*100)>100 ? 'Profit: +'+((actual/totalInv)*100-100).toFixed(2)
        : 'Loss -'+((totalInv/actual)*100-100).toFixed(2)}}%
      </span>
    </div>

    <div class="col col-md-4 indicator" id="currentBalance">
      <span class="text-area">
        Actual value: {{actual}}$
      </span>
    </div>
    <div class="col col-md-4">
      <span class="text-area">
       <p> Last trade:</p>
         <p>{{minDate| date: 'dd-MM-yyyy'}} ({{tradeService.calcTime(minDate)}} days ago)</p>
      </span>
    </div>
  </div>
  <div class="container">
    <charts-component></charts-component>
  </div>
  <div class="container invList">
      <p class="title1">List of trades</p>
      <div class="descriptionList">
      <div class="row"> Index</div>
      <div class="row" (click)="sortByDate('name')"> Asset name</div>
      <div class="row" (click)="sortByDate('value')"> Value ($)</div>
      <div class="row" (click)="sortByDate('price')"> Price ($)</div>
      <div class="row" (click)="sortByDate('amount')"> Amount</div>
      <div class="row" (click)="sortByDate('date')"> Date of bought</div>
    </div>
    <ul class="trade col" *ngFor="let trade of records$ | async; let i = index">
      <li>{{i+1}}</li>
      <li>{{trade.coinName.toUpperCase()}}</li>
      <li>{{(trade.priceusd*trade.quantity).toFixed(2)}}</li>
      <li>{{trade.priceusd}}</li>
      <li>{{trade.quantity}}</li>
      <li>{{trade.date | date: 'dd-MM-yyyy'}}</li>
    </ul>
  </div>
</div>
