@import "src/app/variables.scss";

.row{
  margin: 20px;
}
.col-sm-4{
  border: 2px solid red;
}
.invList{
  margin-top: 20px;
}
.col-sm-12, .col{
  @extend .fullCenter;
  border: 2px solid red;
  padding: 10px;
  margin: 5px;
}
.container{
  border: 1px dotted red;
  margin-top: 20px;
}
.descriptionList{
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
  border: 1px solid orange;
}
.descriptionList > p {
  width: clamp(50px,100px,100px);
  border: 1px solid saddlebrown;
  margin: 10px;
  text-align: center;
}

.trade{
  justify-content: space-between;
  margin: 10px 50px;
  align-items: baseline;
}
.trade >p{
  border: 1px solid green;
  width: clamp(50px,100px,100px);
  text-align: center;
}
.title1{
  @extend .fullCenter;
  margin-top: 20px;
  font-weight: bold;
  font-size: $font-size-title;
}

