@import "src/app/variables.scss";
.row{
  margin: 20px 0;
}
.col-sm-4{
  border: 2px solid red;
}
.invList{
  margin-top: 20px;
}
.col-sm-12, .col{
  @extend .fullCenter;
  border: 2px solid red;
  min-height: 50px;
  margin-bottom: 10px;
}
.container {
  border: 1px dotted red;
}
.descriptionList{
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  margin: 1vh 0;
}
li{
  list-style-type: none;
}
.descriptionList > p {
  width: clamp(100px,100px,150px);
  border: 1px solid saddlebrown;
  margin: 10px 0;
  text-align: center;
}
.descriptionList > p:first-child{
  margin-left: 30px;
}
.trade{
  align-items: center;
  justify-content: space-between;
  border: 3px solid orange;
}
.trade >li{
  @extend .fullCenter;
  width: clamp(50px,100px,100px);
  text-align: center;
  list-style-type: none;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.title1{
  @extend .fullCenter;
  margin-top: 20px;
  font-weight: bold;
  font-size: $font-size-title;
}
