<div class="container main-container">
  <div class="row">
    <div class="col-sm-4">
      <span class="text-area">
        You made {{dashboard.numberOfTrades}} trades
      </span>
    </div>
    <div class="col-sm-4">
      <span class="text-area">
        Invested money:   {{sumInv}} $
      </span>
    </div>
    <div class="col-sm-4">
      <span class="text-area">
        First trade: {{minTradeDate | date: 'dd-MM-yyyy'}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" id="profit" [ngStyle]="{'color':(actualPrice/sumInv)>1 ? 'green' : 'red' }">
      <span class="text-area">profit/loss
      {{((actualPrice/sumInv)*100)>100 ? +((actualPrice/sumInv)*100-100).toFixed(2) : -((sumInv/actualPrice)*100-100).toFixed(2)}}%
      </span>
    </div>

    <div class="col-sm-4" id="currentBalance">
      <span class="text-area">
        Actual value: {{actualPrice }}
      </span>
    </div>
    <div class="col-sm-4 lastTrade">
      <span class="text-area">
        Last trade:  {{maxTradeDate | date: 'dd-MM-yyyy'}}
      </span>
    </div>
  </div>
    <div class="container invList">
    <p class="title1">List of trades</p>
    <div class="descriptionList">
      <p> index</p>
      <p> asset name</p>
      <p> value ($)</p>
      <p> price ($)</p>
      <p> quantity</p>
      <p> date of bought</p>
    </div>
    <ul class="trade col" *ngFor="let trade of trades$ | async; let i = index">
      <li>{{i+1}}</li>
      <li>{{trade.coinName.toUpperCase()}}</li>
      <li>{{(trade.priceusd*trade.quantity).toFixed(2)}}</li>
      <li>{{trade.priceusd}}</li>
      <li>{{trade.quantity}}</li>
      <li>{{trade.date | date: 'dd-MM-yyyy'}}</li>
    </ul>
  </div>
</div>
