@import "src/app/variables.scss";
.row{
  margin: 20px 0;
}
.col-md-4{
  @extend .fullCenter;
  align-items: center;
  font-size: 20px;
  border-radius: 25px;
}
.col-md-4 p{
  @extend .fullCenter;
  margin-top: 5px;
}
.text-area{
  border:3px solid orange;
  height: fit-content;
  border-radius: 25px;
  padding: 10px 50px;
  text-align: center;
  min-height: 100px;

}
.indicator{
@extend .fullCenter;
}
.invList{
  margin-top: 20px;
}
.col-sm-12, .col{
  @extend .fullCenter;
  border: 2px solid red;
  min-height: 50px;
  margin-bottom: 10px;

}
.main-container{
  -webkit-box-shadow: 15px 16px 24px 0 rgba(66, 68, 90, 1);
  -moz-box-shadow: 15px 16px 24px 0 rgba(66, 68, 90, 1);
  box-shadow: 15px 16px 24px 0 rgba(66, 68, 90, 1);
  padding: 1vh;
}
.descriptionList{
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  border-radius: 10px;
  margin: 1vh 0;
}
li{
  list-style-type: none;
}
.descriptionList > p {
  width: clamp(100px,100px,150px);
  border-radius: 20px;
  margin: 10px 20px;
  text-align: center;
}
.descriptionList > p:first-child{
  margin-left: 30px;
}

.trade{
  align-items: center;
  justify-content: space-between;
  border: 3px solid orange;
  border-radius: 20px;
}
.trade:nth-child(2n){
  border: 3px solid gold;
}
.trade >li{
  @extend .fullCenter;
  width: clamp(50px,100px,100px);
  text-align: center;
  list-style-type: none;
  margin-right: 20px;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.title1{
  @extend .fullCenter;
  margin-top: 20px;
  font-weight: bold;
  font-size: $font-size-title;
}
